<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="robot_name" value="my_robot" />

  <link name="base_link">
    <inertial>
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <!-- ─── Joints ─────────────────────────────────────────── -->
  <xacro:include filename="$(find revolute_m_description)/urdf/revolute_m.urdf.xacro"/>

  <xacro:revolute_m
    prefix="J1"
    parent_connection="base_link"
    input="joint_in"
    lower="-3.14159"
    upper="3.14159">
    <origin xyz="0.000000 0.000000 0.000000"
            rpy="0.000000 0.000000 0.000000"/>
  </xacro:revolute_m>

  <xacro:revolute_m
    prefix="J2"
    parent_connection="J1_joint_out"
    input="joint_in"
    lower="-3.14159"
    upper="3.14159">
    <origin xyz="0.000000 0.000000 0.000000"
            rpy="0.000000 0.000000 0.000000"/>
  </xacro:revolute_m>

  <xacro:revolute_m
    prefix="J3"
    parent_connection="J2_joint_out"
    input="joint_in"
    lower="-3.14159"
    upper="3.14159">
    <origin xyz="0.000000 0.000000 0.000000"
            rpy="0.000000 0.000000 0.000000"/>
  </xacro:revolute_m>

  <ros2_control name="CoraTestJoint" type="system">

    <hardware>
      <plugin>odrive_ros2_control_plugin/odriveHardwareInterface</plugin>
      <param name="can">can0</param>
      <param name="initial_positions_file">/home/matt/Desktop/CORA/Software/cora_robot/src/cora_common/cora_moveit_config/config/initial_positions.yaml</param>
    </hardware>

    <joint name="test_joint_1">
      <param name="node_id">3</param>
      <param name="transmission">-107.429</param>

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="test_joint_2">
      <param name="node_id">4</param>
      <param name="transmission">-107.429</param>

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>


    <joint name="test_joint_3">
      <param name="node_id">5</param>
      <param name="transmission">-107.429</param>

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

</robot>
