<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="cora_gripper_ros2_control" params="name initial_positions_file hardware_type">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">

            <hardware>
              <!-- By default, set up controllers for fake system-->
              <xacro:if value="${hardware_type == 'Fake'}">
                <plugin>mock_components/GenericSystem</plugin> <!-- Mock Components -->
              </xacro:if>

              <!-- Real Hardware Components -->
              <xacro:if value="${hardware_type == 'Real'}">
                <plugin>gripper_1_ros2_control_plugin/GripperHardwareInterface</plugin>
                <param name="can">can0</param>
              </xacro:if>
            </hardware>

            <joint name="Finger1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Finger1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="node_id">6</param>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
